@model AplicacionWeb.Models.ViewModelCompraVacuna
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="es">
<body>
    <main>
        <small>Mutualistas / <em> compras de vacunas </em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Mutualista</th>
                        <th>Nombre Vacuna</th>
                        <th>Precio Unitario</th>
                        <th>Monto Compra</th>
                        <th>Fecha Compra</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CompraVacunasMutualista.Count() > 0)
                    {
                        foreach (var item in Model.CompraVacunasMutualista)
                        {
                    <tr>
                        <th>@item.Mutualista.Nombre</th>
                        <th>@item.Vacuna.Nombre</th>
                        <th>@item.PrecioUnitario</th>
                        <th>@item.Monto</th>
                        <th>@item.Fecha</th>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
        <small>Vacunas / <em> importadas </em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Vacunas.Count() > 0)
                    {
                        foreach (var item in Model.Vacunas)
                        {
                            <tr>
                                <th>@item.Nombre</th>
                                <th>@item.Tipo.Descripcion</th>
                                <th>@item.Precio</th>
                                <th><a href="/Vacuna/Detalle?id=@item.Id">Ver detalle</a></th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>


