@model AplicacionWeb.Models.ViewModelVacuna
    ViewBag.H1 = "Detalle Vacuna";
    ViewBag.Title = "Detalle Vacuna";
}
<!DOCTYPE html>
<html lang="es">
<body>
    <main>
        <small>Información / <em>Detalle Vacunas </em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Cant. dosis</th>
                        <th>Lapso<br>días<br>entre<br> dosis</th>
                        <th>Edad max</th>
                        <th>Edad min</th>
                        <th>Eficacia prev.</th>
                        <th>Eficacia hosp.</th>
                        <th>Eficacia CTI</th>
                        <th>Temp. max</th>
                        <th>Temp. min</th>
                        <th>Producción anual</th>
                        <th>Fase<br>clínica<br>de aprob.</th>
                        <th>Emerg.</th>
                        <th>Covax</th>
                        <th>Labs</th>
                        <th>Precio</th>
                        <th id="thEfectos">Efect.<br>Adversos</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        <tr>
                            <th>@Model.Nombre</th>
                            <th>@Model.Tipo.Descripcion</th>
                            <th>@Model.CantidadDosis</th>
                            <th>@Model.LapsoDiasDosis</th>
                            <th>@Model.MaxEdad</th>
                            <th>@Model.MinEdad</th>
                            <th>@Model.EficaciaPrev %</th>
                            <th>@Model.EficaciaHosp %</th>
                            <th>@Model.EficaciaCti %</th>
                            <th>@Model.MaxTemp °C</th>
                            <th>@Model.MinTemp °C</th>
                            <th>@Model.ProduccionAnual</th>
                            <th>@Model.FaseClinicaAprob</th>
                            <th>@(Model.Emergencia ? "Si" : "No")</th>
                            <th>@(Model.Covax ? "Si" : "No")</th>

                            @if (Model.Laboratorios.Count() > 0)
                            {
                                <th>
                                    @foreach (var lab in Model.Laboratorios)
                                    {
                                        @lab.Nombre<br>
                                    }
                                </th>
                            }
                            else
                            {
                                <th>N/a</th>
                            }
                            <th>$ @Model.Precio</th>
                            <th class="efectos"><span>@Model.EfectosAdversos</span> </th>
                        </tr>
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>

