@model AplicacionWeb.Models.ViewModelVacunaAPI
@{
    ViewBag.H1 = "Listar Vacuna";
    ViewBag.Title = "Listar Vacuna";
}
<!DOCTYPE html>
<html lang="es">
<body>
    <main>
        <form method="post" action="/Vacuna/IndexAuth" autocomplete="on">
            <div class="formInfo">
                <fieldset>
                    <legend>Criterios de Filtros:</legend>
                    <select name="Filtro.Criterio">
                        <option value="and">Todos</option>
                        <option value="or">Alguno</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend>Fase Clínica Aprobación:</legend>
                    <select name="Filtro.FaseClinicaDeAprobacionFiltro">
                        <option value="">Seleccione fase de aprobación</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend>Precio Mínimo:</legend>
                    <input type="number" name="Filtro.PrecioMinFiltro" />
                </fieldset>
                <fieldset>
                    <legend>Precio Máximo:</legend>
                    <input type="number" name="Filtro.PrecioMaxFiltro" />
                </fieldset>
                <fieldset>
                    <legend>Tipo de Vacuna:</legend>
                    <select name="Filtro.TipoFiltro">
                        <option value="">Seleccione el tipo</option>
                        @foreach (var item in ViewBag.TiposVacuna)
                        {
                            <option value="@item.Descripcion">@item.Descripcion</option>
                        }
                    </select>
                </fieldset>
                <fieldset>
                    <legend>Laboratorio:</legend>
                    <select name="Filtro.LaboratorioFiltro">
                        <option value="">Seleccione el laboratorio</option>
                        @foreach (var item in ViewBag.Laboratorios)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }
                    </select>
                </fieldset>
                <fieldset>
                    <legend>País Aceptación:</legend>
                    <input type="text" name="Filtro.PaisFiltro" />
                </fieldset>
                <input type="submit" class="botones" value="Buscar">
            </div>
        </form>

        <small><em>Lista Vacunas</em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Vacunas.Count() > 0)
                    {
                        foreach (var item in Model.Vacunas)
                        {
                            <tr>
                                <th>@item.Nombre</th>
                                <th>@item.Tipo</th>
                                <th>$ @item.Precio</th>
                                <th><a href="/Vacuna/Comprar?id=@item.Id">Comprar</a></th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>