@model AplicacionWeb.Models.ViewModelVacunaAPI
@{
    ViewBag.H1 = "Listar Vacuna";
    ViewBag.Title = "Listar Vacuna";
}
<!DOCTYPE html>
<html lang="es">
<body>
    <main>
        <form method="post" action="/Vacuna/IndexAuth" autocomplete="on">
            <div class="formInfo">
                <fieldset>
                    <legend>Fase Clínica Aprobación:</legend>
                    <select name="FaseClinicaDeAprobacionFiltro">
                        <option value="-1">Seleccione fase de aprobación</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend>Precio Mínimo:</legend>
                    <input type="number" name="PrecioMinFiltro" />
                </fieldset>
                <fieldset>
                    <legend>Precio Máximo:</legend>
                    <input type="number" name="PrecioMaxFiltro" />
                </fieldset>
                <fieldset>
                    <legend>Tipo de Vacuna:</legend>
                    <select name="TipoFiltro">
                        <option value="">Seleccione el tipo</option>
                        @foreach (var item in ViewBag.TiposVacuna)
                        {
                            <option value="@item.Descripcion">@item.Descripcion</option>
                        }
                    </select>
                </fieldset>
                <fieldset>
                    <legend>Laboratorio:</legend>
                    <select name="LaboratorioFiltro">
                        <option value="">Seleccione el laboratorio</option>
                        @foreach (var item in ViewBag.Laboratorios)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }
                    </select>
                </fieldset>
                <fieldset>
                    <legend>País Aceptación:</legend>
                    <input type="text" name="PaisFiltro" />
                </fieldset>
                @*<input type="number" id="filtroNumber" onkeypress="return justNumbers(event);" min="1" pattern="^[1-9]" name="filtroNumber" />*@
                <input type="submit" id="login" value="Buscar">
            </div>
        </form>

        <small><em>Lista Vacunas</em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Vacunas.Count() > 0)
                    {
                        foreach (var item in Model.Vacunas)
                        {
                            <tr>
                                <th>@item.Nombre</th>
                                <th>@item.Tipo</th>
                                <th>$ @item.Precio</th>
                                <th><a href="/Vacuna/Comprar?id=@item.Id">Comprar</a></th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>