@model AplicacionWeb.Models.ViewModelImportador
@{
    ViewBag.H1 = "Lista de datos importados";
    ViewBag.Title = "Lista de datos importados";
}
<!DOCTYPE html>
<html lang="es">
<body>
    <main>
        <small>Usuarios / <em> importados </em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Contraseña</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Usuarios.Count() > 0)
                    {
                        foreach (var item in Model.Usuarios)
                        {
                            <tr>
                                <th>@item.Nombre</th>
                                <th>@item.Documento</th>
                                <th>@item.Password</th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
        <small>Vacunas / <em> importadas </em></small>
        <div id="tableEmpleados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Vacunas.Count() > 0)
                    {
                        foreach (var item in Model.Vacunas)
                        {
                            <tr>
                                <th>@item.Nombre</th>
                                <th>@item.Tipo.Descripcion</th>
                                <th>@item.Precio</th>
                                <th><a href="/Vacuna/Detalle?id=@item.Id">Ver detalle</a></th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><th colspan="15">No hay datos disponible</th></tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
